<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<header th:fragment="admin_header" class="header">
	<div class="container">
		
		<!-- <div class="search-container">
      <input type="text" class="search-input" placeholder="반짝이는 도시를 품은, 야경이 예쁜 공간">
      <button class="search-button"><img loading="lazy" src="https://img.shareit.kr/front-assets/icons/magnifier_lineBold_gray064.svg?version=1.0"></button>
  </div> -->
		<!-- <div class="right-icons">
      <a href="#" class="icon-link">지도</a>
      <a href="#" class="icon-link">마이페이지</a>
  </div> -->
		<div class="logo-menu">
			<!--   <button class="menu-button">≡</button> -->
			<span class="logo" onclick="location.href='/admin/main'" style="cursor:pointer">FITLINK 관리자</span>
		</div>

		
	</div>
</header>
</html>