<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


<head>
	<!-- meta_tag include -->

	<head th:insert="~{layouts/meta_tag :: headMeta}"></head>
	<title>나의시설예약</title>

	<!-- 공통 css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/litera/bootstrap.min.css"
		integrity="sha512-TUtnNUXMMWp2IALAR9t2z1vuorOUQL4dPWG3J9ANInEj6xu/rz5fzni/faoEGzuqeY1Z1yGD6COYAW72oiDVYA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/common.css}">

	<!-- 여기에 본인 css 작성해주세요 (detail_hj.css) -->
	<!-- Linking CSS files -->
	<link rel="stylesheet" th:href="@{/css/detail_hj.css}" />

	<!-- 공통 js -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
</head>

<body>
	<div th:insert="~{layouts/header :: header}"></div>
	<main class="main container reservation_pg" id="mypage_pg">
		<div class="sidebar">
			<div class="header">
				<h2 style="font-size: 20px;">마이페이지</h2>
				<!-- <button class="btn btn-danger" onclick="location.href='/member/logout'">로그아웃</button> -->
			</div>

			<div class="btn_wrap">
				<div class="header">
					<a href="/member/mypage">나의정보</a> <a href="/member/reservation" class="active">나의시설예약</a> <a
						href="/member/member_planner">운동캘린더</a>
					<a href="/member/club_myclub">나의클럽관리</a>
					<a href="/member/club_joinclub">가입한클럽</a>
				</div>
				<div style="align-items: center;">
					<div
						style="cursor: pointer; display: inline-flex; gap: 5px; margin: 10px 0; justify-content: space-between; width: 100%;">
						<p style="font-size: 16px; font-weight: bold; margin: 0;">FITPAY</p>
						<p style="font-size: 16px; font-weight: bold; color: #333; margin: 0;">
							<span th:text="${#numbers.formatInteger(#authentication.principal.memMoney, 0, 'COMMA')}"
								id="memMoney"></span>원 <input type="number" id="memMoney_ip" name="memMoney"
								class="blind">
						</p>
					</div>
					<div style="display: inline-flex; gap: 5px; width: 100%">
						<button class="btn btn-primary" id="fitpayCharge" style="width: 50%">충전</button>
						<button class="btn btn-success" id="payList" style="width: 50%">내역</button>
					</div>
				</div>
			</div>

			<div th:insert="~{layouts/charge_popup :: charge_popup}"></div>
			<div th:insert="~{layouts/pay_list :: pay_list}"></div>
		</div>

		<div class="main">
			<ul>
				<li th:if="${#lists.isEmpty(reservations)}"
					style="margin-bottom: 20px; padding: 10px; border: 1px solid #ddd; border-radius: 10px; background-color: #f9f9f9; text-align: center;">
					<p>
						<strong>예약내역이 없습니다.</strong>
					</p>
				</li>
				<li th:each="reservation : ${reservations}"
					style="margin-bottom: 20px; padding: 10px; border: 1px solid #ddd; border-radius: 10px; background-color: #f9f9f9;">
					<p>
						<strong>시설명:</strong> <span th:text="${reservation.facilityName}"
							style="text-decoration: underline; cursor: pointer;"
							th:onclick="|location.href='@{/facility/detail/{facilityCode}(facilityCode=${reservation.facilityCode})}'|"></span>
					</p>
					<p>
						<strong>예약 코드:</strong> <span th:text="${reservation.reservationCode}"></span>
					</p>
					<p th:if="${reservation.clubCode != null}">
						<strong>클럽명:</strong> <span th:text="${clubNameMap[reservation.clubCode]}"></span>
					</p>
					<p>
						<strong>이용 날짜:</strong> <span th:text="${reservation.reservationDate}"></span>
					</p>
					<p>
						<strong>예약 시간:</strong> <span th:text="${reservation.reservationStartTime}"></span> - <span
							th:text="${reservation.reservationEndTime}"></span>
					</p>
					<p>
						<strong>예약 요청일:</strong> <span class="formatted-date"
							th:attr="data-createdate=${reservation.CREATEDATE}"></span>
					</p>
					<p>
						<strong>인원:</strong> <span th:text="${reservation.count}"></span>명
					</p>
					<p>
						<strong>금액:</strong> <span th:text="${#numbers.formatInteger(reservation.price, 0, 'COMMA')}"
							id="memMoney"></span>원
					</p>
					<p>
						<strong>예약 상태:</strong> <span th:text="${reservation.reservationProgress}"
							th:classappend="'status-' +  ${reservation.reservationProgress}"></span>
					</p>
					<p>
						(<span th:text="${reservation.memo}"></span>)
					</p>
					<form th:action="@{/facility/cancel-booking}" method="post">
						<input type="hidden" name="reservationCode" th:value="${reservation.reservationCode}">
						<input type="hidden" name="memId" th:value="${reservation.memId}">
						<input type="hidden" name="price" th:value="${reservation.price}">

						<div
							th:if="${reservation.reservationProgress != '예약취소' and #dates.format(reservation.reservationDate, 'yyyy-MM-dd') > #dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
							<button class="btn btn-danger" type="submit">예약취소</button>
						</div>
					</form>

				</li>
			</ul>
		</div>

	</main>

	<div th:insert="~{layouts/footer :: footer}"></div>
	<script th:inline="javascript">

		// 모든 .formatted-date 요소를 처리
		document.querySelectorAll('.formatted-date').forEach(function (element) {
			const createDate = element.getAttribute('data-createdate'); // 예약 요청일 가져오기
			if (createDate) {
				const formattedDate = createDate.replace("T", " "); // 'T'를 공백으로 변환
				element.innerText = formattedDate; // 변환된 날짜를 HTML에 삽입
			} else {
				element.innerText = "날짜 없음"; // 값이 없을 경우 기본 메시지 설정
			}
		});
	</script>

</body>

</html>