<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- meta_tag include -->
<head th:insert="~{layouts/meta_tag :: headMeta}"></head>
<title>클럽게시글 수정</title>

<!-- 공통 css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/litera/bootstrap.min.css" integrity="sha512-TUtnNUXMMWp2IALAR9t2z1vuorOUQL4dPWG3J9ANInEj6xu/rz5fzni/faoEGzuqeY1Z1yGD6COYAW72oiDVYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" th:href="@{/css/common.css}">

<!-- 여기에 본인 css 작성해주세요 (detail_hj.css) -->
<!-- Linking CSS files -->
<link rel="stylesheet" th:href="@{/css/detail_hj.css}"/>
<link rel="stylesheet" th:href="@{/css/detail_yj.css}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
   integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
   crossorigin="anonymous">

<!-- 공통 js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</head>
<body>
	<div th:insert="~{layouts/header :: header}"></div>
	    <main class="container my-5">
        <div class="row mt-3">
          <div class="col">
              <div class="card">
                  <div class="card-header">
                      게시글 수정
                  </div>
                  <div class="card-body">
                    <form action="/club/board_register" method="post" id="f1">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01"><i class="fas fa-pen-nib"></i></label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" name="BOARD_TYPE" style="text-align: center;">
                          <option th:selected="${dto.BOARD_TYPE} == 'Notice'" value="Notice">#공지#</option>
                          <option th:selected="${dto.BOARD_TYPE} == 'FreeBoard'" value="FreeBoard">자유 게시판</option>
                          <option th:selected="${dto.BOARD_TYPE} == 'Hello'" value="Hello">가입 인사</option>
                          <option th:selected="${dto.BOARD_TYPE} == 'Reviews'" value="Reviews">정산&후기</option>
                        </select>
                      </div>
          
                      <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-keyboard"></i></span>
                        <input type="hidden" name="CLUB_CODE" th:value="${dto.CLUB_CODE}">
                        <textarea class="form-control col-sm-5  mb-0" rows="5" name="BOARD_TEXT" th:text="${dto.BOARD_TEXT}"></textarea>
                      </div>
          
                      <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <input type="text" name="MEM_ID" class="form-control  mb-0"
                                th:value="${dto.MEM_ID}"
                                placeholder="작성자" readonly>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text">이미지</span>
                        <div class="float-end uploadHidden">
                            <button type="button" class="btn btn-primary uploadFileBtn">사진 추가</button>
                        </div>
                    </div>
                    <div class="my-4">
                      <div class="float-end">
                          <button type="button" class="btn btn-primary listBtn">목록</button>
                          <button type="button" class="btn btn-secondary modBtn">수정</button>
                          <button type="button" class="btn btn-danger removeBtn">삭제</button>
                      </div>
                    </form>
                  </div><!--end card body-->
              </div><!--end card-->
          </div><!-- end col-->
      </div><!-- end row-->
        <!-- 첨부 파일 섬네일을 보여줄 부분 -->
        <div class="row mt-3">
          <div class="col ">
              <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">
                  <th:block th:each="fileName:${dto.fileNames}">
                  <div class="card col-4" th:with = "arr = ${fileName.split('_')}">
                      <div class="card-header d-flex justify-content-center">
                          [[${arr[1]}]]
                          <button class="btn-sm btn-danger justify-content-right" style="margin-left: 3px;"
                                  th:onclick="removeFile([[${arr[0]}]], [[${arr[1]}]], this)">X</button>
                      </div>
                      <div class="card-body">
                          <img th:src="|/view/s_${fileName}|" th:data-src="${fileName}" >
                      </div>
                  </div><!-- card -->
                  </th:block>
              </div>
          </div>
      </div>

      <!-- 첨부파일 추가를 위한 모달창 -->
      <div class="modal uploadModal" tabindex="-1">
          <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title">사진 등록</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
              <div class="input-group mb-3">
                  <input type="file" name="files" class="form-control" multiple >
              </div>
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-primary uploadBtn">등록</button>
              <button type="button" class="btn btn-outline-dark closeUploadBtn" >닫기</button>
              </div>
          </div>
          </div>
      </div><!-- register modal -->    
            
      </main>
    <div th:insert="~{layouts/footer :: footer}"></div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/gd.js"></script>
</body>
<script layout:fragment="script" th:inline="javascript">

    const memID = /*[[${dto.MEM_ID}]]*/""
    const boardNo = /*[[${dto.BOARD_NO}]]*/""
    const clubCode = /*[[${dto.CLUB_CODE}]]*/""


    const formObj = document.querySelector("#f1")

    // p671 - 게시물수정
    document.querySelector(".modBtn").addEventListener("click", function(e){

        e.preventDefault()
        e.stopPropagation()

        formObj.action = `/club/modify_Board?boardNo=${boardNo}&memID=${memID}`		
        		
        //첨부파일 추가
        appendFileData()

        //삭제대상 파일들의 삭제
        callRemoveFiles()
        
        formObj.method ='post'
        formObj.submit()
    }, false)

    function appendFileData(){
        const target = document.querySelector(".uploadHidden")
        const uploadFiles = uploadResult.querySelectorAll("img")

        let str = ''

        for (let i = 0; i < uploadFiles.length ; i++) {
            const uploadFile = uploadFiles[i]
            const imgLink = uploadFile.getAttribute("data-src")

            str += `<input type='hidden' name='fileNames' value="${imgLink}">`
        }
        target.innerHTML = str;
    }

    function callRemoveFiles(){
        removeFileList.forEach( ({uuid,fileName}) => {
            removeFileToServer({uuid, fileName})
        })
    }

    // p673 - 게시물삭제
    document.querySelector(".removeBtn").addEventListener("click", function(e){
        e.preventDefault()
        e.stopPropagation()

        //화면에 보이는 파일들을 form태그에 추가
        appendFileData()
		
        //화면에서 안보이도록 처리된 파일들을 form태그에 추가
        appendNotShownData()

        formObj.action = `/club/board_remove?boardNo=${boardNo}`
        formObj.method ='post'
        formObj.submit()
    }, false)

    function appendNotShownData(){
        if(removeFileList.length == 0){
            return
        }

        const target = document.querySelector(".uploadHidden")
        let str = ''

        for (let i = 0; i < removeFileList.length ; i++) {
            const {uuid, fileName} = removeFileList[i];
            str += `<input type='hidden' name='fileNames' value="${uuid}_${fileName}">`
        }
        target.innerHTML += str;
    }
    
    document.querySelector(".listBtn").addEventListener("click", function(e){
        e.preventDefault()
        e.stopPropagation()

        formObj.reset()
        self.location =`/club/club_board?${clubCode}`

    }, false)

    // p667 - 첨부파일 삭제
    // 최종적으로 삭제될 파일들의 목록
    const removeFileList = []
    function removeFile(uuid,fileName, obj){
        if(!confirm("파일을 삭제하시겠습니까?")){
            return
        }

        console.log(uuid)
        console.log(fileName)
        console.log(obj)
        removeFileList.push({uuid,fileName})
        const targetDiv = obj.closest(".card")
        targetDiv.remove()
    }

    // p669
    // 업로드 모달
    document.querySelector(".closeUploadBtn").addEventListener("click", function(e){
        uploadModal.hide()    
    }, false)

    const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))
    document.querySelector(".uploadFileBtn").addEventListener("click", function(e){
        e.stopPropagation()
        e.preventDefault()
        uploadModal.show()

    }, false)

    document.querySelector(".uploadBtn").addEventListener("click", function(e){
        const formObj = new FormData();
        const fileInput = document.querySelector("input[name='files']")
        console.log(fileInput.files)
        const files = fileInput.files

        for (let i = 0; i < files.length; i++) {
            if(files[i].name.includes("_")) {
                alert("_ 문자열은 포함될 수 없습니다.");
                return;
              }
            formObj.append("files", files[i]);
        }

        uploadToServer(formObj).then(result => {
            for (const uploadResult of result) {
                showUploadFile(uploadResult)
            }
            uploadModal.hide()
        }).catch(e => {
            uploadModal.hide()
        })

    },false)

    const uploadResult = document.querySelector(".uploadResult")
    function showUploadFile({uuid, fileName, link}){
        const str =`<div class="card col-4">
            <div class="card-header d-flex justify-content-center">
                ${fileName}
                <button class="btn-sm btn-danger" onclick="javascript:removeFile('${uuid}', '${fileName}', this)" >X</button>
            </div>
            <div class="card-body">
                 <img src="/view/${link}" data-src="${uuid}_${fileName}" >
            </div>
        </div>`
        uploadResult.innerHTML += str
    }
</script>
</html>